@model IEnumerable<WebShop.Models.Proizvodi>
@{ 
    ViewBag.Title = "Index";
    int itemIndex = 0;
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VrijemeKreiranja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cijena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dostupan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MjereProizvoda.Naziv)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeKreiranja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dostupan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MjereProizvoda.Naziv)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveFromCart", new { index = itemIndex })
            </td>
        </tr>
    }

</table>

@Html.ActionLink(linkText: "Checkout", actionName: "CreateUser", controllerName: "Checkout")
