@model Validacije.Models.Racun
@{
    ViewBag.Title = "Izdavanje racuna";
    Html.EnableClientValidation(false);
}

<style>
    label {
        display: inline-block;
        width: 150px;
        margin: 5px;
        font-weight: bold;
    }
</style>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(x => x.BrojRacuna)
        @Html.EditorFor(x => x.BrojRacuna)
    </div>
    <div>
        @Html.LabelFor(x => x.Datum)
        @Html.EditorFor(x => x.Datum)
    </div>
    <div>
        @Html.LabelFor(x => x.Zaposlenik)
        @Html.EditorFor(x => x.Zaposlenik)
    </div>
    <div>
        @Html.LabelFor(x => x.Kupac)
        @Html.EditorFor(x => x.Kupac)
    </div>
    <div>
        @Html.LabelFor(x => x.Cijena)
        @Html.EditorFor(x => x.Cijena)

    </div>
   
    <input type="submit" value="Pošalji" />
}
