@model HelloWorld.Models.Artikal
@{
    Layout = null;
    string[] kategorije = new string[] { "Sport", "Glazba", "Tehnička oprema", "Literatura" };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NaruciArtikal</title>
    <style>
        label {
            width: 150px;
            padding-top: 10px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h3>Narudžba</h3>
    <div>
        <form method="post">
            <div>
                <label>Kategorija: </label>
                <select name="Kategorija">
                    <option value=""></option>
                    @foreach (string s in kategorije)
                    {
                        if (s == Model.Kategorija)
                        {
                            <option selected="selected">@s</option>
                        }
                        else
                        {
                            <option>@s</option>
                        }
                    }
                </select>
            </div>
            <div>
                <label>Naziv: </label> <input type="text" name="Naziv" value="@Model.Naziv" />
            </div>
            <div>
                <label>Cijena: </label> <input type="text" name="Cijena" value="@Model.Cijena" />
            </div>
            <div>
                <label>Količina: </label> <input type="number" name="Kolicina" value="@Model.Kolicina" />
            </div>
            <p>
                <button type="submit">Naruči!</button>
            </p>
        </form>
    </div>
    <div style="font-weight:bold;">
        @ViewBag.Poruka
    </div>
</body>
</html>
