@model HelloWorld.Models.Osoba
@{
    /**/

    ViewBag.Title = "FormHelper";
}

<h2>FormHelper</h2>


@using (Html.BeginForm())
{
    <div>
        <label for="Ime">Ime:</label>
        @Html.TextBox("Ime", Model.Ime)
    </div>
    <div>
        <label for="Prezime">Prezime:</label>
        @Html.TextBox("Prezime", Model.Prezime)
    </div>
    <div>
        <label for="Email">Email:</label>
        @Html.TextBox("Email", Model.Email)
    </div>
    <div>
        <label for="MjestoStanovanja">Mjesto stanovanja:</label>
        @Html.DropDownList("MjestoStanovanja",
       new SelectList((string[])ViewBag.Mjesta),"--Odaberi--")
    </div>
    <div>
        <label for="Spol">Spol:</label>
        @Html.RadioButton("Spol", "M", true); Muško <br />
        @Html.RadioButton("Spol", "Z", false); Žensko <br />

    </div>
    <div>
        <label for="Zaposlen">Zaposlen:</label>
        @Html.CheckBox("Zaposlen", false)<br />
    </div>
    <input type="submit" value="Pošalji" />
}

<p>
    <label style="color:red">@ViewBag.Poruka</label>
</p>
